@model IEnumerable<EasyWarehouse.WebModels.ProductWebModel>
@{
    ViewBag.Title = "Товары";
}

<h1>@ViewBag.Title</h1>

<p>Просмотр всех товаров на складе с местами их расположения</p>

<p>Фильтрация, сортировка и пагинация товаров</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>№</th>
            <th>Название</th>
            <th>Место хранения</th>
            <th>Дата поступления</th>
            <th>Кол-во, шт.</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ var n = 1; }
        @foreach (var product in Model)
        {
            <tr>
                <td>@(n++)</td>
                <td>@product.Name</td>
                <td>@product.PlaceName</td>
                <td>@product.DateTime</td>
                <td>@product.Count</td>
                <td><a asp-controller="Home" asp-action="ProductDetails" asp-route-id="@product.Id">Просмотр</a></td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">Итого:</td>
            <td>@Model.Count() пачек</td>
            <th></th>
        </tr>
    </tfoot>
</table>